
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    display: flex;
    height: 100vh;
    background: black;
}

.memory_game_board {
    width: 1200px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid black;
    perspective: 1000px;
    
}

.game_pieces {
    border: 2px solid red;
    position: relative;
    width: 15%;
    height: 25%;
    margin: auto;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.game_pieces:active {
    transform: scale(.97);
    transition: transform .2s;
}

.game_pieces.flip{
    transform:rotateY(180deg);
}

.bottom_card, .top_card {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.bottom_card {
    transform: rotateY(180deg);
}